### Aztec Sequencer ###
# ETH L1 RPC (Execution Client addr, you can use public, paid or run your own)
# Example: https://ethereum-sepolia-rpc.publicnode.com
L1_RPC_ENDPOINTS=""
# ETH L1 Beacon (Consensus Client addr, you can use public, paid or run your own)
# Example: https://ethereum-sepolia-beacon-api.publicnode.com
L1_CONSENSUS_ENDPOINTS=""
# Somewhere in your user home directory  
DATA_DIRECTORY=/root/aztec-val
# Your validator private key, you need some ETH on Sepolia
VALIDATOR_PRIVATE_KEY=0xEthPrivateKey
# Your validator address 
COINBASE=0xEthAddress
# Your public ip address, you can use this command: curl -4 ifconfig.me
P2P_IP=YourStaticPublicIPAddress 

### Grafana ###

GRAFANA_USER=Aztec
GRAFANA_PASSWORD=PrivacyMatters
